* {
    padding: 0px;
    margin: 0px;   
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 20px;

    justify-content: center;
    align-items: center;
    background: lightgrey
}